/* line 1, static/css/main.scss */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white; }

/* line 9, static/css/main.scss */
.nav-item.dropdown a {
  color: white !important; }

/* line 13, static/css/main.scss */
.dropdown-menu {
  background-color: #0275d8; }

/* line 17, static/css/main.scss */
.navbar-text a {
  color: white !important; }

/* line 21, static/css/main.scss */
.dropdown-item:focus, .dropdown-item:hover {
  background-color: #034f84; }
