body {
	 height: 100%;
	 margin: 0;
	 padding: 0;
	 background-color: white;
}
 .navbar a {
	 color: white !important;
}
 .navbar .dropdown-menu {
	 background-color: #0275d8;
}
 .navbar .dropdown-item:focus, .navbar .dropdown-item:hover {
	 background-color: #034f84;
}
 