{% extends 'base.html' %}

{% block title %}Details{% endblock %}

{% block extend_header %}
{% include 'base_js_maps.html' %}
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<h1>Name: {{errand.name}}</h1>
<h2>Desc: {{errand.description}}</h2>
<h2>Status: {{errand.get_status_display}}</h2>
<h2>Address: {{errand.address}}</h2>
{% if errand.history.first.history_change_reason is not None %}
    <h2>Last change note: {{errand.history.first.history_change_reason}}</h2>
{% endif %}
<form action="{% url 'errands:update' errand.id %}" method="post">
{% csrf_token %}
<fieldset>
    {{ form|crispy }}
</fieldset>
    <button type="submit" class="btn btn-primary">Update</button>
</form>
</br>
{% if perms.errands.access_history %}
    <a class="btn btn-primary" href="{% url 'errands:export_history_csv' errand.id %}" role="button">
        Get errand history in CSV
    </a>
    </br>
{% endif %}

<div class="container" id="map_outerdiv">
    <div id="map"></div>
</div>
{% endblock %}