{% extends 'base.html' %}

{% block title %}Details{% endblock %}

{% block extend_header %}{% include 'base_maps_template.html' %}{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<h1>Name: {{errand.name}}</h1>
<h2>Desc: {{errand.description}}</h2>
<h2>Status: {{errand.get_status_display}}</h2>
<h2>Address: {{errand.address}}</h2>
{% if errand.history.first.history_change_reason is not None %}
    <h2>Last change note: {{errand.history.first.history_change_reason}}</h2>
{% endif %}
<form action="{% url 'errands:update' errand.id %}" method="post">
{% csrf_token %}
<fieldset>
    {{ form|crispy }}
</fieldset>
    <button type="submit" class="btn btn-primary">Update</button>
</form>
</br>
{% if perms.errands.access_history %}
    <a class="btn btn-primary" href="{% url 'errands:export_history_csv' errand.id %}" role="button">
        Get errand history in CSV
    </a>
    </br>
    </br>
    <button id="mapDisplayBtn" class="btn btn-primary">Show history</button>
    </br>
    </br>
    <table id="displayTable" class="table table-hover">
        <thead>
            <tr class="table-primary" >
                {% for column_name in field_names %}
                    <th>{{ column_name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for row in errand_history %}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.name }}</td>
                <td>{{ row.description }}</td>
                <td>{{ row.get_status_display }}</td>
                <td>{{ row.address }}</td>
                <td>{{ row.geolocation }}</td>
                <td>{{ row.history_id }}</td>
                <td>{{ row.history_date }}</td>
                <td>{{ row.history_change_reason }}</td>
                <td>{{ row.history_type }}</td>
                <td>{{ row.history_user }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
</br>
</br>
<div class="container" id="map_outerdiv">
    <div id="map"></div>
</div>
{% endblock %}