{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block extedn_header %}
{% load compress %}
{% load static %}
{% compress css %}
        <link type="text/x-scss" href="{% static 'css/main.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}
{% endblock %}

{% block content %}

<h1>Username: {{object.username}}</h1>
<h2>Email: {{object.email}}</h2>
<h2>User errands:</h2>
<ul class="list-group">
    {% for errand in object.errand_set.all %}
        <li class="list-group-item"><a href="{% url 'errands:detail' errand.id %}">{{ errand }}</a></li>
    {% empty %}
        <p>User has no errands</p>
    {% endfor %}
</ul>

{% endblock %}