{% load compress %}
{% load static %}
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<link type="text/css" href="{% static 'errands/style.css' %}" rel="stylesheet" media="screen">

<script type="text/javascript">
    var google_api_key = "{{google_api_key|safe}}";
    var errand_address = "{{errand.address}}";
    var geolocation = "{{errand.geolocation}}";
</script>
<script src="{% static 'errands/google_autocomplete_and_map.js' %}"></script>
<script src="{% static 'errands/history.js' %}"></script>