/* line 3, static/css/main.scss */
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white; }

/* line 12, static/css/main.scss */
.navbar a {
  color: white !important; }

/* line 16, static/css/main.scss */
.navbar .dropdown-menu {
  background-color: #0275d8; }

/* line 20, static/css/main.scss */
.navbar .dropdown-item:focus, .navbar .dropdown-item:hover {
  background-color: #034f84; }
