/* line 1, errands/static/errands/style.scss */
div #map_outerdiv {
  width: 100%;
  height: 400px;
  text-align: center; }
  /* line 6, errands/static/errands/style.scss */
  div #map_outerdiv #map {
    width: 90%;
    height: 100%;
    margin: 0px auto;
    display: inline-block; }

/* line 13, errands/static/errands/style.scss */
#errand_address {
  width: 70%; }
