/* line 1, errands/static/errands/style.scss */
div #map_outerdiv {
  width: 100%;
  height: 400px; }
  /* line 5, errands/static/errands/style.scss */
  div #map_outerdiv #map {
    width: 90%;
    height: 100%;
    margin: 0px auto;
    display: inline-block; }
